<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">
    <test name="SearchHotelTest" thread-count="5" parallel="methods">
        <classes>
            <class name="com.travelers.tests.SearchHotelTest"/>
        </classes>
    </test>
    <test name="OpenEveryStartBoxTest" thread-count="5" parallel="methods">
        <classes>
            <class name="com.travelers.tests.OpenEveryStartBoxTest"/>
        </classes>
    </test>
</suite>